.hero {
    background-color: black;
    padding: 30px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

ul {
    list-style-type: none;
}

#city-name,
#current-day {
    font-size: 25px;
    font-weight: bold;
}

#wind-speed,
#temp,
#humid,
#uv,
#show-history {
    font-size: 18px;
    font-weight: bold;
}